<div class="card_page_container">
  <h1 class="card_page_title">Cocktails</h1>
  <div class="card_container">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>

    <div class="card" style='background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url("https://source.unsplash.com/350x350/?cocktail,<%=cocktail.name %>");'>
      <h1 class="card_content"><%= cocktail.name%></h1>
    </div>
    <% end  %>
    <% end %>
  </div>
  <div class="new_cocktail_button">
    <a class="btn btn-danger btn-lg" href="<%= new_cocktail_path %>" role="button"> Nouveau Cocktail </a>
  </div>
</div>

